// rem 基准
$screen-width: 37.5;

@function vw($px) {
    @return $px / $screen-width * 10vw;
}

@function rem($px) {
    @return $px / $screen-width * 1rem;
}

@mixin appearance{
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

@mixin center{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin input{
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    @include appearance;
}

@mixin clearfix{
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }
}
@mixin line-clamp($line){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}
@mixin button{
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    border: 0 none;
    appearance: none;
    &.disabled{
        background-color: #cecece;
    }
}
